<div class="container" ng-controller="AdminController as admin">
  <div class="col-sm-12">

    <h1>Tour to Enable Reporter</h1>

    <button type="button" class="btn btn-primary btn-lg" ng-click="admin.login()" ng-hide="admin.token">
      Login with GitHub
    </button>

    <div ng-show="admin.token">
      <p>
        <button type="button" class="btn btn-primary btn-lg" ng-hide="admin.polling" ng-click="admin.togglePolling()">
          Enable Automatic Updates
        </button>
        <button type="button" class="btn btn-default btn-lg" ng-show="admin.polling" ng-click="admin.togglePolling()">
          Disable Automatic Updates
        </button>
        <button type="button" class="btn btn-info btn-lg" ng-click="admin.update()">
          Manually Update
        </button>
      </p>
    </div>

    <p class="alert alert-info" ng-show="admin.updating">
      <i class="fa fa-spin fa-spinner"></i> Recording location
    </p>

    <p class="alert alert-success" ng-show="admin.success">
      <i class="fa fa-check text-success"></i> Location successfully recorded
    </p>

    <div class="alert alert-danger" ng-show="admin.error">
      <i class="fa fa-times text-error"></i>
      <span ng-show="admin.isError('AUTH')">
        Error authenticating with GitHub
      </span>
      <span ng-show="admin.isError('POSITION')">
        This site requires your location
      </span>
    </div>

  </div>
</div>
